body {
  background-color: #d3d3d3;
  font-family: futura;
  letter-spacing: 1.5px;
  text-align: center;
}

h1 {
  color: #99b3e6;
  font-size: 54;
  letter-spacing: 2px;
  padding-bottom: 10px;
  margin:0px 0px -0px -20px;
}

ul {
  text-align: left;
}

img {
  width: 25%;
  height: 25%;
  display: block;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
