<p>Let's keep in touch!</p>

<div id="contact-form">
    <form method="post" action="/signup">
      <label for="email">Email address:</label>
      <input type="email" id="email" name="email" required=required>
      <label for="first-name">First Name:</label>
      <input type="text" id="first-name" name="first-name" required="required">
      <label for="last-name">Last Name:</label>
      <input type="text" id="last-name" name="last-name" required="required">
      <input type="submit" value="Submit" id="submit-button">
    </form>
  </div>
