<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="techtrue.css">
<title>Fake News: Technology</title>
</head>

<body>
  <header>
  <img src="https://i.guim.co.uk/img/media/6ef25d341258a57efd6f2737c25b1941c15f200b/69_559_985_591/master/985.jpg?w=620&q=20&auto=format&usm=12&fit=max&dpr=2&s=24bb7e5788aa282d4a8c990993439a1c">
<h1>Emojis honoured in world celebration!</h1>
</header>
<h2>New York's Empire State Building will be lit up in yellow to mark a day that organisers hope will put a smile on millions of faces.</h2>
<p>This is one of the many stunts planned for World Emoji Day (17th July).
  <br>
  Some other stunts include new pictograms such as:</p>
  <ul>
    <li>a bearded man</li>
    <li>a breastfeeding woman</li>
    <li> a t-rex</li>
  </ul>
<p>In celebration, London's Royal Opera House will present 20 well-known operas and ballets in emoji form. This will be the 4th World Emoji Day and is chosen as 17th of July as it is the date on the emoji for 'calendar'.





</body>
